#pride {
    padding: 5px;
    padding-top: calc(env(safe-area-inset-top) + 10px);
    padding-left: calc(env(safe-area-inset-left) + 5px);
    padding-right: calc(env(safe-area-inset-right) + 5px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100%;
    /* background-color:rgba(255,255,255,0.7); */
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(#bef67dcc, #7aece2cc);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

#content {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    margin:5px;
}

@media (min-width: 640px) {
    :not(.xr) #flex {
        flex-direction: row;
    }
    :not(.xr) #content {
        flex: 2;
    }
    :not(.xr) #media {
        flex: 3;
    }
    :not(.xr) #model {
        flex: 3;
    }
}

.xr #model {
    flex: 0 0 0;
}

.xr #content {
    position: absolute;
    width: 200px;
}

.xr #media {
    position: absolute;
    width: 200px;
    height: 100px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.button {
    float: left;
    font-size: 1.4em;
    border: 2px black solid;
    border-radius: 10px;
    box-sizing: border-box;
    background-color:white;
    padding: 5px;
    margin: 5px;
}

#procedure {
    /* background-color: transparent; */
    font-size: 26px;
    color:red;
    margin: 10px;
    margin-top: 0;
    margin-bottom:0;
}

#step {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

#type {
    background-color: rgb(0, 174, 255, 0.8);
    border-radius: 5px;
    display:inline;
    padding: 3px 5px;
}

#instruction {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    min-height: 0;
}

#flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5px;
    align-self: stretch;
}

#model {
    flex: 1;
    background-color: rgba(0,0,255,0.1);
    border-radius: 10px;
    margin: 5px;
}

#media {
    flex: 1;
    position: relative;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
}

#video {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#controls {
    margin: 5px;
    align-self: stretch;
}

#controls :hover {
    background-color: grey;
}

#immersive-toggle {
    float: right;
    background-color: black;
    color: white;
}